@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-fonts{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/* Shared Style */

.display-flex{
    display: flex;
}

.btn-primary{
    background-color: #ff900e;
    color:white;
    padding: 20px 25px;
    font-size:1.25rem;
    font-weight:600;
    border: 8px;
    border: none;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

.text-primary{
    color: #ff900e;
}

/* dark 01 */

.text-gray{
    color: #424242;
}

/* dark 02 */
.text-light-gray{
    color:#727272;
}


.bg-light{
   background-color: rgba(255, 144, 14, 0.1);
}


/* Header Style */




/* Navbar Related Style */

.navbar{
    justify-content: space-between;    
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}

.nav-item{
    list-style: none;
    margin-right:30px;
}

.nav-link{
    text-decoration:none;
    font-weight:500;
}


.navbar, .banner{ border: 1px solid black;
    max-width: 1240px;
    margin: 0 auto;
}


/* banner content */

.banner-content{border: 1px solid black;
    max-width: 850px;
    margin:0 auto;
    text-align: center;
    margin-bottom:50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-image{
    width: 100%;
}

/*---------------------------*/

.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    gap: 24px;
}

.our-features{
    margin-left: 130px;
    max-width:530px ;
}

.features-title{
    font-size:2.8rem;
    font-weight: 700;
}

#quick-list{
    font-family: 500;
}



/* responsive media query*/

@media screen and (max-width:576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }    
}